.app-container {
  display: flex;
  flex-direction: row;
}
.content {
  width: 100%;
}

.sidebar {
  min-height: 800px;
}

.post-card {
  margin: 20px 50px;
  position: relative;
}

.reactions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
  margin: 15px 0 0 0;
}
